# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\ProgramProject\Java\lk-redback-warehouse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
